services:
  proxy:
    image: nginx
    restart: unless-stopped
    expose:
      - 80
    networks:
      - backends
      - virtual-hosts
    depends_on:
      - web
      - api
    labels:
      - traefik.http.routers.kewldan-web.rule=Host(`kewldan.ru`)
      - traefik.enable=true
      - traefik.http.services.kewldan-web.loadbalancer.server.port=80
      - traefik.http.routers.kewldan-web.tls=true
      - traefik.http.routers.kewldan-web.tls.certresolver=myresolver
    volumes:
      - ./conf.d:/etc/nginx/conf.d:ro
  web:
    build: ./web
    restart: unless-stopped
    networks:
      - backends
    expose:
      - 80
  api:
    hostname: 'kewldan-api'
    build: ./backend
    restart: unless-stopped
    networks:
      - backends
    volumes:
      - ./data:/usr/app/data
    expose:
      - 80


networks:
  backends:
  virtual-hosts:
    external: true